.rslides_tabs {
  margin: 0;
  padding: 0;
  list-style: none;
}

html, body {
  height: 100%;
}

body {
  min-width: 320px;
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}

fieldset {
  min-width: 0;
}

@-moz-document url-prefix() {
  fieldset {
    display: table-cell;
    vertical-align: top;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Oswald", sans-serif;
  letter-spacing: 1px;
}

a:focus,
a:hover,
a:active,
.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn.focus:active,
.btn:active:focus,
.btn:focus {
  outline: none;
}

a {
  transition: background .3s ease,color .3s ease;
}
.menu-items{
  padding: 5px;
margin-bottom: 15px;
background: #31b679;
}

.btn {
  transition: background .3s ease,color .3s ease,border-color .3s ease;
  text-shadow: none;
  box-shadow: none;
  border-radius: 0;
}

.btn .fa {
  position: relative;
  right: -4px;
  top: 1px;
}
.btn-item-sm {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 0.5;
}
#wrapper {
  display: table;
  height: 100%;
  overflow: hidden;
  position: relative;
  table-layout: fixed;
  width: 100%;
}

.cssload-container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #fff;
  z-index: 1000;
}

.cssload-whirlpool,
.cssload-whirlpool::before,
.cssload-whirlpool::after {
  position: absolute;
  top: 50%;
  left: 50%;
  border: 1px solid #cccccc;
  border-left-color: #2a88ad;
  border-radius: 974px;
  -o-border-radius: 974px;
  -ms-border-radius: 974px;
  -webkit-border-radius: 974px;
  -moz-border-radius: 974px;
}

.cssload-whirlpool {
  margin: -24px 0 0 -24px;
  height: 49px;
  width: 49px;
  animation: cssload-rotate 1150ms linear infinite;
  -o-animation: cssload-rotate 1150ms linear infinite;
  -ms-animation: cssload-rotate 1150ms linear infinite;
  -webkit-animation: cssload-rotate 1150ms linear infinite;
  -moz-animation: cssload-rotate 1150ms linear infinite;
}

.cssload-whirlpool::before {
  content: "";
  margin: -22px 0 0 -22px;
  height: 43px;
  width: 43px;
  animation: cssload-rotate 1150ms linear infinite;
  -o-animation: cssload-rotate 1150ms linear infinite;
  -ms-animation: cssload-rotate 1150ms linear infinite;
  -webkit-animation: cssload-rotate 1150ms linear infinite;
  -moz-animation: cssload-rotate 1150ms linear infinite;
}

.cssload-whirlpool::after {
  content: "";
  margin: -28px 0 0 -28px;
  height: 55px;
  width: 55px;
  animation: cssload-rotate 2300ms linear infinite;
  -o-animation: cssload-rotate 2300ms linear infinite;
  -ms-animation: cssload-rotate 2300ms linear infinite;
  -webkit-animation: cssload-rotate 2300ms linear infinite;
  -moz-animation: cssload-rotate 2300ms linear infinite;
}

@keyframes cssload-rotate {
  100% {
    transform: rotate(360deg);
  }
}

@-o-keyframes cssload-rotate {
  100% {
    -o-transform: rotate(360deg);
  }
}

@-ms-keyframes cssload-rotate {
  100% {
    -ms-transform: rotate(360deg);
  }
}

@-webkit-keyframes cssload-rotate {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@-moz-keyframes cssload-rotate {
  100% {
    -moz-transform: rotate(360deg);
  }
}

.scrollToTop {
  bottom: 60px;
  border-radius: 4px;
  display: none;
  font-size: 32px;
  line-height: 45px;
  font-weight: bold;
  height: 50px;
  position: fixed;
  right: 50px;
  text-align: center;
  text-decoration: none;
  width: 50px;
  z-index: 999;
  color: #222;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  border: solid 1px #222;
}

@media only screen and (max-width: 767px) {
  .scrollToTop {
    bottom: 20px;
    right: 20px;
  }
}

.scrollToTop:hover,
.scrollToTop:focus {
  background-color: #222;
  color: #fefefe;
}

.banner {
  position: relative;
}

.banner .caption {
  position: absolute;
  right: 10%;
  left: 10%;
  bottom: 100px;
  text-align: center;
  background: rgba(34, 34, 34, 0.6);
  color: #fff;
  padding: 40px;
}

@media only screen and (max-width: 767px) {
  .banner .caption {
    position: static;
    background-color: #444;
    padding: 30px 40px;
  }
}

.banner h1 {
  color: #fff;
  font-size: 36px;
  margin-bottom: 20px;
  margin-top: 0;
}

.header-holder {
  background: #444;
  color: #fff;
  padding: 5px 0;
  min-height: 46px;
}

.header-holder a {
  color: #fff;
}

.header-holder a:hover {
  color: #ccc;
}

.header-list {
  margin: 0;
  padding-left: 20px;
}
.header-holder .dropdown-menu{
  background: #2a88ad;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  left: auto;
  right: 0;
}
.header-holder .dropdown-menu > li > a:hover, .header-holder .dropdown-menu > li > a:focus {
    background-color: #0f5079;
    color: #fff;
}
@media only screen and (max-width: 767px) {
  .header-list {
    font-size: 14px;
  }
}

@media only screen and (max-width: 767px) {
  .header-list {
    font-size: 14px;
    line-height: 18px;
  }
}

@media only screen and (max-width: 767px) and (max-width: 767px) {
  .header-list li {
    display: block;
    margin-bottom: 5px;
  }
}

.header-list .fa {
  margin-right: 5px;
}

.header-list li {
  position: relative;
}

.header-list .login-holder {
  background: #eee;
  left: auto;
  right: 4px;
  min-width: 300px;
  padding: 10px;
  border-radius: 0;
}

.login-form {
  color: #222;
}

.login-form .title {
  display: block;
  text-align: center;
  font-size: 20px;
  border-bottom: solid 1px #777;
  padding-bottom: 5px;
  margin-bottom: 5px;
}

#mainNav {
  border-width: 1px 0 0 0;
  border-top-color: #ccc;
}

.navbar-nav > li {
  margin-left: 2px;
}

@media only screen and (max-width: 767px) {
  .navbar-nav > li {
    margin: 0 0 2px;
  }
}

.navbar-brand {
  max-width: 140px;
  margin-top: -42px;
}

@media only screen and (max-width: 767px) {
  .navbar-brand {
    max-width: 125px;
    margin-left: 10px;
  }
}

@media only screen and (max-width: 767px) {
  .navbar-collapse {
    padding: 0;
  }
}

.navbar-toggle {
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: #ddd;
}

.navbar-toggle .fa {
  font-size: 28px;
  line-height: 28px;
  display: block;
  margin: 2px 5px 0;
}

.align-left {
  float: left;
  margin-right: 20px;
  max-width: 250px;
}

.align-right {
  float: right;
  margin-left: 20px;
  max-width: 250px;
}

.align-center {
  margin: 0 auto 20px;
  max-width: 250px;
}

.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
}

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
}

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
}

.rslides img {
  display: block;
  height: auto;
  width: 100%;
  border: 0;
}

.rslides_nav {
  position: absolute;
  top: 50%;
  width: 60px;
  height: 60px;
  z-index: 10;
  background: #2a88ad;
  margin-top: -30px;
  text-align: center;
  font-size: 0;
  line-height: 0;
}

@media only screen and (max-width: 767px) {
  .rslides_nav {
    width: 30px;
    height: 30px;
    margin-top: -15px;
  }
}

.rslides_nav:before {
  font: 56px/60px FontAwesome;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
  display: inline-block;
  vertical-align: top;
}

@media only screen and (max-width: 767px) {
  .rslides_nav:before {
    font-size: 28px;
    line-height: 30px;
  }
}

.rslides_nav.prev {
  left: 20px;
}

.rslides_nav.prev:before {
  content: "\f104";
}

.rslides_nav.next {
  right: 20px;
}

.rslides_nav.next:before {
  content: "\f105";
}

.rslides_tabs {
  position: absolute;
  bottom: 50px;
  left: 20%;
  right: 20%;
  z-index: 10;
  text-align: center;
  font-size: 0;
  line-height: 0;
}

@media only screen and (max-width: 767px) {
  .rslides_tabs {
    bottom: 10px;
  }
}

.rslides_tabs li {
  display: inline-block;
  vertical-align: top;
  margin: 0 2px;
}

.rslides_tabs li.rslides_here a {
  background: #2a88ad;
}

.rslides_tabs a {
  background: none;
  border: 2px solid #2a88ad;
  border-radius: 50%;
  height: 13px;
  opacity: 1;
  transition: background 0.3s ease 0s;
  width: 13px;
  text-indent: -9999px;
  overflow: hidden;
  display: block;
}

.section {
  padding: 30px 0;
}

.about {
  text-align: center;
}

h2 {
  font-size: 30px;
  margin-bottom: 20px;
}

#features {
  background: #efefef;
}

.thumb-block {
  color: #fff;
  background: #30d0e2;
  position: relative;
  margin-bottom: 20px;
}

@media only screen and (max-width: 767px) {
  .thumb-block {
    max-width: 320px;
    margin-left: auto;
    margin-right: auto;
  }
}

.thumb-block .name {
  display: block;
  font-family: "Oswald", sans-serif;
}

.thumb-block .caption {
  padding: 10px;
}

.thumb-block .btn {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  margin-top: -1px;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  transition: all .3s;
  z-index: 10;
}

.thumb-block:hover .btn {
  bottom: -42px;
  opacity: 1;
}

.thumb-block:hover img {
  filter: grayscale(20%);
}

.testimonial-block {
  background-attachment: fixed;
  background-size: cover;
  color: #fff;
  position: relative;
  z-index: 1;
}

.testimonial-block h2 {
  color: #fff;
}

.testimonial-block:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: -1;
}

.testimonial .avatar {
  max-width: 150px;
  display: block;
  margin: 0 auto;
}

.testimonial blockquote {
  border: 0;
  padding: 20px 0;
}

.testimonial .unit {
  padding: 10px 10%;
}

.testimonial q {
  display: block;
  margin-bottom: 10px;
}

.testimonial cite {
  display: block;
  font: 20px/24px "Oswald", sans-serif;
}

#carousel-testimonial .control {
  position: absolute;
  top: 50%;
  left: 0;
  width: 60px;
  height: 60px;
  z-index: 10;
  background: #30d0e2;
  color: #eee;
  margin-top: -30px;
  text-align: center;
  font-size: 58px;
  line-height: 60px;
}

@media only screen and (max-width: 767px) {
  #carousel-testimonial .control {
    width: 30px;
    height: 30px;
    margin-top: -15px;
    font-size: 28px;
    line-height: 30px;
  }
}

#carousel-testimonial .control.right {
  left: auto;
  right: 0;
}

#carousel-testimonial .control:hover {
  opacity: .8;
}

.partner-block {
  background: #efefef;
}

@media only screen and (max-width: 767px) {
  .partner-block {
    padding: 0 20px;
  }
}

.partner-block .list-inline {
  margin-left: 0;
}

#map-area {
  height: 400px;
  background: #222;
}

@media only screen and (max-width: 767px) {
  #map-area {
    height: 250px;
  }
}

@media only screen and (max-width: 767px) {
  #map-area {
    height: 200px;
  }
}

#footer {
  background: #444;
  display: table-footer-group;
  height: 1%;
}

.social-networks {
  margin: 0 0 30px;
}

.social-networks li {
  padding: 0 12px 0 0;
}

.social-networks a {
  display: block;
  color: #fff;
  padding: 10px 5px;
  height: 48px;
  width: 48px;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.social-networks a.facebook {
  background: #3b5998;
}

.social-networks a.twitter {
  background: #00aced;
}

.social-networks a.google-plus {
  background: #dd4b39;
}

.social-networks a.linkedin {
  background: #0077b5;
}

.social-networks a:hover {
  color: #fff !important;
}

.social-networks a:hover i {
  -webkit-transform: rotate(-20deg);
  -moz-transform: rotate(-20deg);
  -o-transform: rotate(-20deg);
  -ms-transform: rotate(-20deg);
  transform: rotate(-20deg);
}

.social-networks a i {
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.contact-details span {
  display: block;
  margin-left: 24px;
}

.contact-details i {
  margin-right: 10px;
}

.contact-details p {
  margin-bottom: 5px;
}

.footer-frame {
  background: #2a88ad;
  padding: 30px 0;
  color: #fff;
}

@media only screen and (max-width: 767px) {
  .footer-frame {
    padding: 15px 0;
  }
}

.footer-frame a {
  color: #fff;
}

.footer-frame a:hover {
  color: #222;
}

.footer-frame h3, .footer-frame h4 {
  color: #fff;
}

.footer-holder {
  color: #fff;
  font-size: 16px;
  padding: 10px 0;
}

.footer-holder p {
  margin: 0;
}

.footer-holder a {
  color: #dd4b39;
}

.footer-holder a:hover {
  color: #ff0800;
}

.form-holder {
  padding: 20px 0;
}

.form-box {
  border-radius: 2px;
  box-shadow: 0 7px 7px #777;
  background: #fff;
}

.form-box .heading {
  background: #2a88ad;
  padding: 10px 20px;
  margin: 0 -15px 20px;
  border-radius: 2px 2px 0 0;
}

.form-box h1 {
  font-size: 32px;
  line-height: 1.1;
  margin: 0;
  color: #fff;
}

@media only screen and (max-width: 767px) {
  .form-holder {
    padding: 20px 15px;
  }
}

.general-form h2 {
  font-size: 26px;
  height: 30px;
  margin: 0 0 20px;
  color: #2a88ad;
}

.general-form .number {
  background: #2a88ad;
  border-radius: 15px 15px 15px 0;
  color: #fff;
  display: inline-block;
  vertical-align: top;
  font-size: 20px;
  height: 30px;
  line-height: 30px;
  margin-right: 4px;
  text-align: center;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
  width: 30px;
  font-weight: 700;
}

.general-form textarea {
  width: 100% !important;
  min-height: 120px;
}

.general-form input[type="radio"], .general-form input[type="checkbox"] {
  margin-top: 6px;
}

.general-form span.form-error {
  font-size: 14px;
  line-height: 14px;
  color: #ff0800;
  display: block !important;
  position: absolute;
  bottom: -15px;
  left: 0;
}

.general-form .form-control.form-error {
  border-color: #ff0800;
}

.general-form .input-group {
  position: relative;
}

.general-form .title {
  display: block;
  margin-bottom: 10px;
}

.general-form .required {
  position: relative;
}

.general-form .required:after {
  content: '*';
  position: absolute;
  top: 0;
  right: 2px;
  color: #fff;
  position: absolute;
  z-index: 1;
  font-size: 16px;
  line-height: 20px;
  z-index: 20;
}

.general-form .required:before {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 24px 24px 0;
  border-color: transparent #ff0800 transparent transparent;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
}

.general-form .add-info {
  font-size: 14px;
  color: #ff0800;
  margin-bottom: 5px;
  text-align: right;
}

.general-form .input-group-addon {
  border-radius: 0;
  background: #2a88ad;
  color: #eee;
}

.general-form .radio, .general-form .checkbox {
  margin: 0;
}

.general-form .offset-top {
  padding-left: 150px;
}

.general-form .form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #bbb;
}
.general-form .form-control::-moz-placeholder { /* Firefox 19+ */
  color: #bbb;
}
.general-form .form-control:-ms-input-placeholder { /* IE 10+ */
  color: #bbb;
}
.general-form .form-control:-moz-placeholder { /* Firefox 18- */
  color: #bbb;
}

@media only screen and (max-width: 767px) {
  .general-form .offset-top {
    padding: 0;
  }
}

.general-form .main-entry {
  padding: 5px;
  border: solid 1px #ddd;
  margin-bottom: 0px;
  position: relative;
}

.general-form .main-entry .remove_field {
  position: absolute;
  top: 0;
  right: 0;
}

.general-form .main-entry .remove_field .fa {
  position: static;
}

.owl-carousel .animated {
  -webkit-animation-duration: 1000ms;
  animation-duration: 1000ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.owl-carousel .owl-animated-in {
  z-index: 0;
}

.owl-carousel .owl-animated-out {
  z-index: 1;
}

.owl-carousel .fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.owl-height {
  -webkit-transition: height 500ms ease-in-out;
  -moz-transition: height 500ms ease-in-out;
  -ms-transition: height 500ms ease-in-out;
  -o-transition: height 500ms ease-in-out;
  transition: height 500ms ease-in-out;
}

.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  position: relative;
  z-index: 1;
}

.owl-carousel .owl-stage {
  position: relative;
  -ms-touch-action: pan-Y;
}

.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  -webkit-transform: translate3d(0px, 0px, 0px);
}

.owl-carousel .owl-controls .owl-nav .owl-prev,
.owl-carousel .owl-controls .owl-nav .owl-next,
.owl-carousel .owl-controls .owl-dot {
  cursor: pointer;
  cursor: hand;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.owl-carousel.owl-loaded {
  display: block;
}

.owl-carousel.owl-loading {
  opacity: 0;
  display: block;
}

.owl-carousel.owl-hidden {
  opacity: 0;
}

.owl-carousel .owl-refresh .owl-item {
  display: none;
}

.owl-carousel .owl-item {
  position: relative;
  min-height: 1px;
  float: left;
  width: 100%;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.owl-carousel .owl-item img {
  display: block;
  width: 100%;
  -webkit-transform-style: preserve-3d;
}

.owl-carousel.owl-text-select-on .owl-item {
  -webkit-user-select: auto;
  -moz-user-select: auto;
  -ms-user-select: auto;
  user-select: auto;
}

.no-js .owl-carousel {
  display: block;
}

.owl-carousel .owl-item img {
  transform-style: preserve-3d;
}

.owl-carousel .owl-controls {
  opacity: 0;
  -webkit-transition: opacity 500ms ease-in-out;
  transition: opacity 500ms ease-in-out;
}

.owl-carousel:hover .owl-controls {
  opacity: 1;
}

.owl-controls .owl-next,
.owl-controls .owl-prev {
  position: absolute;
  top: 50%;
  right: -40px;
  font-size: 0;
  line-height: 0;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

@media only screen and (max-width: 767px) {
  .owl-controls .owl-next,
  .owl-controls .owl-prev {
    right: -20px;
  }
}

.owl-controls .owl-prev {
  right: auto;
  left: -40px;
}

@media only screen and (max-width: 767px) {
  .owl-controls .owl-prev {
    left: -20px;
  }
}

.owl-controls .owl-next:after,
.owl-controls .owl-prev:after {
  content: '\f053';
  font-family: Fontawesome;
  display: inline-block;
  vertical-align: top;
  font-size: 30px;
  line-height: 50px;
  color: #fff;
  background: #2a88ad;
  height: 50px;
  width: 36px;
  text-align: center;
}

.owl-controls .owl-next:after {
  content: '\f054';
}

/*!
 * Datepicker for Bootstrap v1.6.0 (https://github.com/eternicode/bootstrap-datepicker)
 *
 * Copyright 2012 Stefan Petre
 * Improvements by Andrew Rowls
 * Licensed under the Apache License v2.0 (http://www.apache.org/licenses/LICENSE-2.0)
 */
.datepicker {
  padding: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  direction: ltr;
}

.datepicker-inline {
  width: 220px;
}

.datepicker.datepicker-rtl {
  direction: rtl;
}

.datepicker.datepicker-rtl table tr td span {
  float: right;
}

.datepicker-dropdown {
  top: 0;
  left: 0;
}

.datepicker-dropdown:before {
  content: '';
  display: inline-block;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #999999;
  border-top: 0;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  position: absolute;
}

.datepicker-dropdown:after {
  content: '';
  display: inline-block;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #ffffff;
  border-top: 0;
  position: absolute;
}

.datepicker-dropdown.datepicker-orient-left:before {
  left: 6px;
}

.datepicker-dropdown.datepicker-orient-left:after {
  left: 7px;
}

.datepicker-dropdown.datepicker-orient-right:before {
  right: 6px;
}

.datepicker-dropdown.datepicker-orient-right:after {
  right: 7px;
}

.datepicker-dropdown.datepicker-orient-bottom:before {
  top: -7px;
}

.datepicker-dropdown.datepicker-orient-bottom:after {
  top: -6px;
}

.datepicker-dropdown.datepicker-orient-top:before {
  bottom: -7px;
  border-bottom: 0;
  border-top: 7px solid #999999;
}

.datepicker-dropdown.datepicker-orient-top:after {
  bottom: -6px;
  border-bottom: 0;
  border-top: 6px solid #ffffff;
}

.datepicker > div {
  display: none;
}

.datepicker table {
  margin: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.datepicker td,
.datepicker th {
  text-align: center;
  width: 20px;
  height: 20px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: none;
}

.table-striped .datepicker table tr td,
.table-striped .datepicker table tr th {
  background-color: transparent;
}

.datepicker table tr td.day:hover,
.datepicker table tr td.day.focused {
  background: #eeeeee;
  cursor: pointer;
}

.datepicker table tr td.old,
.datepicker table tr td.new {
  color: #999999;
}

.datepicker table tr td.disabled,
.datepicker table tr td.disabled:hover {
  background: none;
  color: #999999;
  cursor: default;
}

.datepicker table tr td.highlighted {
  background: #d9edf7;
  border-radius: 0;
}

.datepicker table tr td.today,
.datepicker table tr td.today:hover,
.datepicker table tr td.today.disabled,
.datepicker table tr td.today.disabled:hover {
  background-color: #fde19a;
  background-image: -moz-linear-gradient(to bottom, #fdd49a, #fdf59a);
  background-image: -ms-linear-gradient(to bottom, #fdd49a, #fdf59a);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fdd49a), to(#fdf59a));
  background-image: -webkit-linear-gradient(to bottom, #fdd49a, #fdf59a);
  background-image: -o-linear-gradient(to bottom, #fdd49a, #fdf59a);
  background-image: linear-gradient(to bottom, #fdd49a, #fdf59a);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fdd49a', endColorstr='#fdf59a', GradientType=0);
  border-color: #fdf59a #fdf59a #fbed50;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  color: #000;
}

.datepicker table tr td.today:hover,
.datepicker table tr td.today:hover:hover,
.datepicker table tr td.today.disabled:hover,
.datepicker table tr td.today.disabled:hover:hover,
.datepicker table tr td.today:active,
.datepicker table tr td.today:hover:active,
.datepicker table tr td.today.disabled:active,
.datepicker table tr td.today.disabled:hover:active,
.datepicker table tr td.today.active,
.datepicker table tr td.today:hover.active,
.datepicker table tr td.today.disabled.active,
.datepicker table tr td.today.disabled:hover.active,
.datepicker table tr td.today.disabled,
.datepicker table tr td.today:hover.disabled,
.datepicker table tr td.today.disabled.disabled,
.datepicker table tr td.today.disabled:hover.disabled,
.datepicker table tr td.today[disabled],
.datepicker table tr td.today:hover[disabled],
.datepicker table tr td.today.disabled[disabled],
.datepicker table tr td.today.disabled:hover[disabled] {
  background-color: #fdf59a;
}

.datepicker table tr td.today:active,
.datepicker table tr td.today:hover:active,
.datepicker table tr td.today.disabled:active,
.datepicker table tr td.today.disabled:hover:active,
.datepicker table tr td.today.active,
.datepicker table tr td.today:hover.active,
.datepicker table tr td.today.disabled.active,
.datepicker table tr td.today.disabled:hover.active {
  background-color: #fbf069 \9;
}

.datepicker table tr td.today:hover:hover {
  color: #000;
}

.datepicker table tr td.today.active:hover {
  color: #fff;
}

.datepicker table tr td.range,
.datepicker table tr td.range:hover,
.datepicker table tr td.range.disabled,
.datepicker table tr td.range.disabled:hover {
  background: #eeeeee;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

.datepicker table tr td.range.today,
.datepicker table tr td.range.today:hover,
.datepicker table tr td.range.today.disabled,
.datepicker table tr td.range.today.disabled:hover {
  background-color: #f3d17a;
  background-image: -moz-linear-gradient(to bottom, #f3c17a, #f3e97a);
  background-image: -ms-linear-gradient(to bottom, #f3c17a, #f3e97a);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f3c17a), to(#f3e97a));
  background-image: -webkit-linear-gradient(to bottom, #f3c17a, #f3e97a);
  background-image: -o-linear-gradient(to bottom, #f3c17a, #f3e97a);
  background-image: linear-gradient(to bottom, #f3c17a, #f3e97a);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f3c17a', endColorstr='#f3e97a', GradientType=0);
  border-color: #f3e97a #f3e97a #edde34;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

.datepicker table tr td.range.today:hover,
.datepicker table tr td.range.today:hover:hover,
.datepicker table tr td.range.today.disabled:hover,
.datepicker table tr td.range.today.disabled:hover:hover,
.datepicker table tr td.range.today:active,
.datepicker table tr td.range.today:hover:active,
.datepicker table tr td.range.today.disabled:active,
.datepicker table tr td.range.today.disabled:hover:active,
.datepicker table tr td.range.today.active,
.datepicker table tr td.range.today:hover.active,
.datepicker table tr td.range.today.disabled.active,
.datepicker table tr td.range.today.disabled:hover.active,
.datepicker table tr td.range.today.disabled,
.datepicker table tr td.range.today:hover.disabled,
.datepicker table tr td.range.today.disabled.disabled,
.datepicker table tr td.range.today.disabled:hover.disabled,
.datepicker table tr td.range.today[disabled],
.datepicker table tr td.range.today:hover[disabled],
.datepicker table tr td.range.today.disabled[disabled],
.datepicker table tr td.range.today.disabled:hover[disabled] {
  background-color: #f3e97a;
}

.datepicker table tr td.range.today:active,
.datepicker table tr td.range.today:hover:active,
.datepicker table tr td.range.today.disabled:active,
.datepicker table tr td.range.today.disabled:hover:active,
.datepicker table tr td.range.today.active,
.datepicker table tr td.range.today:hover.active,
.datepicker table tr td.range.today.disabled.active,
.datepicker table tr td.range.today.disabled:hover.active {
  background-color: #efe24b \9;
}

.datepicker table tr td.selected,
.datepicker table tr td.selected:hover,
.datepicker table tr td.selected.disabled,
.datepicker table tr td.selected.disabled:hover {
  background-color: #9e9e9e;
  background-image: -moz-linear-gradient(to bottom, #b3b3b3, #808080);
  background-image: -ms-linear-gradient(to bottom, #b3b3b3, #808080);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#b3b3b3), to(#808080));
  background-image: -webkit-linear-gradient(to bottom, #b3b3b3, #808080);
  background-image: -o-linear-gradient(to bottom, #b3b3b3, #808080);
  background-image: linear-gradient(to bottom, #b3b3b3, #808080);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b3b3b3', endColorstr='#808080', GradientType=0);
  border-color: #808080 #808080 #595959;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.datepicker table tr td.selected:hover,
.datepicker table tr td.selected:hover:hover,
.datepicker table tr td.selected.disabled:hover,
.datepicker table tr td.selected.disabled:hover:hover,
.datepicker table tr td.selected:active,
.datepicker table tr td.selected:hover:active,
.datepicker table tr td.selected.disabled:active,
.datepicker table tr td.selected.disabled:hover:active,
.datepicker table tr td.selected.active,
.datepicker table tr td.selected:hover.active,
.datepicker table tr td.selected.disabled.active,
.datepicker table tr td.selected.disabled:hover.active,
.datepicker table tr td.selected.disabled,
.datepicker table tr td.selected:hover.disabled,
.datepicker table tr td.selected.disabled.disabled,
.datepicker table tr td.selected.disabled:hover.disabled,
.datepicker table tr td.selected[disabled],
.datepicker table tr td.selected:hover[disabled],
.datepicker table tr td.selected.disabled[disabled],
.datepicker table tr td.selected.disabled:hover[disabled] {
  background-color: #808080;
}

.datepicker table tr td.selected:active,
.datepicker table tr td.selected:hover:active,
.datepicker table tr td.selected.disabled:active,
.datepicker table tr td.selected.disabled:hover:active,
.datepicker table tr td.selected.active,
.datepicker table tr td.selected:hover.active,
.datepicker table tr td.selected.disabled.active,
.datepicker table tr td.selected.disabled:hover.active {
  background-color: #666666 \9;
}

.datepicker table tr td.active,
.datepicker table tr td.active:hover,
.datepicker table tr td.active.disabled,
.datepicker table tr td.active.disabled:hover {
  background-color: #006dcc;
  background-image: -moz-linear-gradient(to bottom, #0088cc, #0044cc);
  background-image: -ms-linear-gradient(to bottom, #0088cc, #0044cc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
  background-image: -webkit-linear-gradient(to bottom, #0088cc, #0044cc);
  background-image: -o-linear-gradient(to bottom, #0088cc, #0044cc);
  background-image: linear-gradient(to bottom, #0088cc, #0044cc);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0088cc', endColorstr='#0044cc', GradientType=0);
  border-color: #0044cc #0044cc #002a80;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.datepicker table tr td.active:hover,
.datepicker table tr td.active:hover:hover,
.datepicker table tr td.active.disabled:hover,
.datepicker table tr td.active.disabled:hover:hover,
.datepicker table tr td.active:active,
.datepicker table tr td.active:hover:active,
.datepicker table tr td.active.disabled:active,
.datepicker table tr td.active.disabled:hover:active,
.datepicker table tr td.active.active,
.datepicker table tr td.active:hover.active,
.datepicker table tr td.active.disabled.active,
.datepicker table tr td.active.disabled:hover.active,
.datepicker table tr td.active.disabled,
.datepicker table tr td.active:hover.disabled,
.datepicker table tr td.active.disabled.disabled,
.datepicker table tr td.active.disabled:hover.disabled,
.datepicker table tr td.active[disabled],
.datepicker table tr td.active:hover[disabled],
.datepicker table tr td.active.disabled[disabled],
.datepicker table tr td.active.disabled:hover[disabled] {
  background-color: #0044cc;
}

.datepicker table tr td.active:active,
.datepicker table tr td.active:hover:active,
.datepicker table tr td.active.disabled:active,
.datepicker table tr td.active.disabled:hover:active,
.datepicker table tr td.active.active,
.datepicker table tr td.active:hover.active,
.datepicker table tr td.active.disabled.active,
.datepicker table tr td.active.disabled:hover.active {
  background-color: #003399 \9;
}

.datepicker table tr td span {
  display: block;
  width: 23%;
  height: 54px;
  line-height: 54px;
  float: left;
  margin: 1%;
  cursor: pointer;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.datepicker table tr td span:hover,
.datepicker table tr td span.focused {
  background: #eeeeee;
}

.datepicker table tr td span.disabled,
.datepicker table tr td span.disabled:hover {
  background: none;
  color: #999999;
  cursor: default;
}

.datepicker table tr td span.active,
.datepicker table tr td span.active:hover,
.datepicker table tr td span.active.disabled,
.datepicker table tr td span.active.disabled:hover {
  background-color: #006dcc;
  background-image: -moz-linear-gradient(to bottom, #0088cc, #0044cc);
  background-image: -ms-linear-gradient(to bottom, #0088cc, #0044cc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
  background-image: -webkit-linear-gradient(to bottom, #0088cc, #0044cc);
  background-image: -o-linear-gradient(to bottom, #0088cc, #0044cc);
  background-image: linear-gradient(to bottom, #0088cc, #0044cc);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0088cc', endColorstr='#0044cc', GradientType=0);
  border-color: #0044cc #0044cc #002a80;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.datepicker table tr td span.active:hover,
.datepicker table tr td span.active:hover:hover,
.datepicker table tr td span.active.disabled:hover,
.datepicker table tr td span.active.disabled:hover:hover,
.datepicker table tr td span.active:active,
.datepicker table tr td span.active:hover:active,
.datepicker table tr td span.active.disabled:active,
.datepicker table tr td span.active.disabled:hover:active,
.datepicker table tr td span.active.active,
.datepicker table tr td span.active:hover.active,
.datepicker table tr td span.active.disabled.active,
.datepicker table tr td span.active.disabled:hover.active,
.datepicker table tr td span.active.disabled,
.datepicker table tr td span.active:hover.disabled,
.datepicker table tr td span.active.disabled.disabled,
.datepicker table tr td span.active.disabled:hover.disabled,
.datepicker table tr td span.active[disabled],
.datepicker table tr td span.active:hover[disabled],
.datepicker table tr td span.active.disabled[disabled],
.datepicker table tr td span.active.disabled:hover[disabled] {
  background-color: #0044cc;
}

.datepicker table tr td span.active:active,
.datepicker table tr td span.active:hover:active,
.datepicker table tr td span.active.disabled:active,
.datepicker table tr td span.active.disabled:hover:active,
.datepicker table tr td span.active.active,
.datepicker table tr td span.active:hover.active,
.datepicker table tr td span.active.disabled.active,
.datepicker table tr td span.active.disabled:hover.active {
  background-color: #003399 \9;
}

.datepicker table tr td span.old,
.datepicker table tr td span.new {
  color: #999999;
}

.datepicker .datepicker-switch {
  width: 145px;
}

.datepicker .datepicker-switch,
.datepicker .prev,
.datepicker .next,
.datepicker tfoot tr th {
  cursor: pointer;
}

.datepicker .datepicker-switch:hover,
.datepicker .prev:hover,
.datepicker .next:hover,
.datepicker tfoot tr th:hover {
  background: #eeeeee;
}

.datepicker .cw {
  font-size: 10px;
  width: 12px;
  padding: 0 2px 0 5px;
  vertical-align: middle;
}

.input-append.date .add-on,
.input-prepend.date .add-on {
  cursor: pointer;
}

.input-append.date .add-on i,
.input-prepend.date .add-on i {
  margin-top: 3px;
}

.input-daterange input {
  text-align: center;
}

.input-daterange input:first-child {
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
}

.input-daterange input:last-child {
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
}

.input-daterange .add-on {
  display: inline-block;
  width: auto;
  min-width: 16px;
  height: 18px;
  padding: 4px 5px;
  font-weight: normal;
  line-height: 18px;
  text-align: center;
  text-shadow: 0 1px 0 #ffffff;
  vertical-align: middle;
  background-color: #eeeeee;
  border: 1px solid #ccc;
  margin-left: -5px;
  margin-right: -5px;
}

/*# sourceMappingURL=bootstrap-datepicker.css.map */
/*admin css*/
.admin-model .modal-content {
  background: #fff;
  border-radius: 0;
}

.admin-model .close {
  padding: 0 5px;
  opacity: .8;
  position: relative;
  z-index: 10;
}

.admin-model .general-form h2 {
  padding-bottom: 5px;
  border-bottom: solid 1px #777;
}

.admin-model .form-box {
  box-shadow: none;
}

.dropdown-menu > li > a {
  color: #fff;
}

.nav .dropdown-menu {
  background: #2a88ad;
}

.nav .dropdown-menu > li > a:hover, .nav .dropdown-menu > li > a:focus {
  background-color: #0f5079;
}

.nav .dropdown .fa {
  margin-right: 6px;
}

.admin-main {
  padding: 5px 0;
}

.sidebar {
  max-width: 180px;
  float: left;
}

.sidebar .panel {
  border-radius: 0;
  border: 0;
}

.sidebar #AdminMenu.active-menu a.list-group-item {
  width: 180px;
  padding-left: 15px;
  /*padding-right: 65px;*/
}

.sidebar #AdminMenu.active-menu a.list-group-item .text {
  display: block;
}

.sidebar a.list-group-item {
  border-radius: 0;
  position: relative;
  font-size: 16px;
  line-height: 20px;
  border: 0;
  position: relative;
  padding-right: 40px;
  margin-bottom: 1px;
  min-height: 40px;
  width: 40px;
  padding-left: 0;
}

.sidebar a.list-group-item .text {
  display: none;
}

.sidebar a.list-group-item.active.list-group-item-info:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 3px;
  background: #dd4b39;
  z-index: 10;
}

.sidebar a.list-group-item.list-group-item-info .fa {
  background: #0f5079;
}

.sidebar a.list-group-item .fa {
  position: absolute;
  right: 0;
  top: 0;
  height: 40px;
  width: 40px;
  font-size: 22px;
  line-height: 40px;
  text-align: center;
  background: #2a88ad;
  color: #fff;
}

.sidebar .sidemenu-open {
  font-size: 30px;
  line-height: 38px;
  text-align: center;
  height: 40px;
  width: 40px;
  display: block;
  border: solid 1px #2a88ad;
  color: #2a88ad;
}

.admin-top {
  /*margin-bottom: 20px;*/
}

@media only screen and (max-width: 767px) {
  .admin-top .btn-holder {
    margin-bottom: 15px;
  }
}

.admin-content {
  overflow: hidden;
  padding: 0 15px 15px;
}

.admin-content .heading {
  padding: 5px;
  margin-bottom: 15px;
  background: #dd4b39;
}
.admin-content .heading.bg-blue{
  background: #2a88ad;
  
}
.admin-content .heading h2 {
  margin: 0 0 2px;
  color: #fff;
  font-size: 24px;
  line-height: 32px;
}

.admin-content .action-btn {
  font-size: 23px;
  line-height: 20px;
  display: inline-block;
  vertical-align: top;
  width: 20px;
  height: 20px;
  text-align: center;
  color: #fff;
  background: #2a88ad;
}

.admin-content .action-btn.bg-red {
  background: #dd4b39;
}

.admin-content .action-btn.bg-green {
  background: #00a65a;
}

.admin-content table {
  font-size: 16px;
  line-height: 18px;
}

.admin-content table thead th {
  background: #2a88ad;
  color: #fff;
  border-color: #2a88ad;
}

.admin-content .table > thead > tr > th, .admin-content .table > thead > tr > td, .admin-content .table > tbody > tr > th, .admin-content .table > tbody > tr > td, .admin-content .table > tfoot > tr > th, .admin-content .table > tfoot > tr > td {
  padding: 5px;
}


/*new css*/
.padding-sm{
  padding: 0 15px;
}
.select2-container .select2-selection--single{
  height: 36px;
  font-size: 16px;
}
.select2-container--default .select2-selection--single{
  border-radius: 0;
  border-color: #222;
}
.select2-container--default .select2-selection--single .select2-selection__rendered{line-height: 34px;}

.circleBase{
  border-radius: 50%;
}
.red{
  width: 30px;
  height: 30px;
  background: red;
}
.green{
  width: 30px;
  height: 30px;
  background: green;
}
.select2-container{
  width: 100% !important;
}
.container-pd{
  padding-bottom: 15px;
}
.container-ptd{
  padding-top: 15px;
  padding-bottom: 15px;
}
.fa.crossclose{
    color: #dd4b39;
}
.append_calculations .alert{
  margin-top: 5px;
  padding: 2px 10px;
  margin-bottom: 0;
}
.text-black{
  color: #01022d;
}
.block-table .thumbnail{
  padding:45px 10px;
  background-color:#2a88ad;
  color: #fff;
  text-align: center;
  transition:all 0.5s ease;
}
.block-table .thumbnail:hover{
  background-color:#dd4b39; 
}
.vat_total
{
    margin: 0 0 -0.5px;
}
.loader {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    display: block;
    opacity: 0.7;
    background-color: #fff;
    z-index: 99;
    text-align: center;
}

.loading-image {
    position: absolute;
    top: 50%;
    /*left: 240px;*/
    z-index: 100;
}
.watermark {
    position: absolute;
    opacity: 0.25;
    font-size: 3em;
    width: 80%;
    text-align: center;
    z-index: 1000;
}
.stock{
  color: red;
  font-size: 12px;
  position: absolute;
  margin: 8px 0px 0px 10px;
}
/*added by Bhawana*/
  form.cmxform label.error,label.error{
    font-size: 16px;
    color:red;
    font-style:italic
  }
  input.error{
    border:1px dotted red;
  }

  @media print {
  .hidden-print {
    display: none !important;
  }
  a[href]:after {
    content: none !important;
  }
}